<html lang="en" light-mode="true" style="--primary-color: #408dfb; --primary-color-rgb: 64,141,251;"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Receive Stock | Kambucha Inventory</title>

    
        <link rel="stylesheet" href="bootstrap-5.3.3/dist/js/bootstrap.min.js">
      <link rel="stylesheet" href="bootstrap-5.3.3/dist/css/bootstrap.min.css">
     <link href="sidebars.css" rel="stylesheet">
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   


   <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Tracking Load Time -->

          
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

<!-- ======= Icons used for dropdown (you can use your own) ======== -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script>
      window.zbZiStartTime = new Date().valueOf();
      window._zbZiStartTime = window.zbZiStartTime;
    </script>
    <!-- Tracking Load Time - End -->

    <link href="/favicon.ico?1721719123501" rel="shortcut icon">

    <!-- Google Fonts - This Stylesheet Link Referenced in Widgets too.  -->
    <link title="zf-font-src" href="https://webfonts.zoho.com/css?display=swap&amp;family=Inter:400,500,600,700/Source+Sans+Pro:400/Open+Sans:400,600,700" rel="stylesheet" type="text/css">

    

<link href="addStock/d31g2a6snus4ly.cloudfront.net/zbooks/assets/vendor-fac69530bc.css" rel="stylesheet">
    

<link href="addStock/d31g2a6snus4ly.cloudfront.net/zbooks/assets/zb-685ec3ad94.css" rel="stylesheet">
    <link rel="stylesheet" href="addStock/css.zohocdn.com/ichat/css/Jun_01_2024_8452405_wmsbar.css">
    	<script src="/serial.js"></script>

    <!-- Overwritten styles that need not to be inversed in RTL layout -->

    

<style type="text/css">
ul {
  list-style-type: none;
}


ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.sidebar li .submenu{ 

  list-style-type: none;

	list-style: none;
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}

</style>
    <style type="text/css">
      .ignore-rtl {
        direction: ltr;
      }
      .daterangepicker.opensleft:before {
        right: 9px;
        left: auto;
      }
      .daterangepicker.opensleft:after {
        right: 10px;
        left: auto;
      }
      .daterangepicker.opensright:before {
        left: 9px;
        right: auto;
      }
      .daterangepicker.opensright:after {
        left: 10px;
        right: auto;
      }
      html[dir="rtl"] .pagination .action {
        display: inline-block;
        transform: rotate(180deg);
      }
    </style>

    
<link href="addStock/d31g2a6snus4ly.cloudfront.net/zbooks/assets/chunk-53387c8eb3.css" rel="stylesheet">

<script type="text/javascript" async="" id="siquts" src="#"></script>
<script defer="" type="text/javascript" src="#"></script><link rel="stylesheet" type="text/css" integrity="sha384-G0ZvvrIQhYDk/j1XLd5oHa3IMetukkLTSYAAQ53nmpFWVDcjEVi8s4qMLhXUGZIi" crossorigin="anonymous" href="https://static.zohocdn.com/zohosearch/Jul_18_2024/css/gsresult.a8e29cd9ed6c9eaea4dedc1773844a13.css"><script type="text/javascript" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous" src="https://static.zohocdn.com/zohosearch/Jul_18_2024/js/jquery-3.6.0.min.8fb8fee4fcc3cc86ff6c724154c49c42.js"></script><script type="text/javascript" integrity="sha384-EWnZSXTDUTxyOEre3bB4ALNs/CpCmAJngeIx2Wmfjmz/gFyjhy9DDv4xzAVQC+T+" crossorigin="anonymous" src="https://static.zohocdn.com/zohosearch/Jul_18_2024/js/en.7a82cfba375bbc70fbf33b02dc6adc5a.js"></script>
<script type="text/javascript" integrity="sha384-9P41AkkG23NogCMtWuVCz4UWSxU1lHsukeA3vRW4vGNMQ13cFHF3GGsPUFWCDxHP" crossorigin="anonymous" src="#"></script>
<link rel="stylesheet" href="#" integrity="sha384-0uA5KIDjSJBNGPeiRDI3YtNcjWJ9mZsPq48NM5iMzp7/jWYVkIHbMtgrDX/xil60" crossorigin="anonymous">
<script src="#" integrity="sha384-Ztp/2TWQciT43HslBOeeNfN2162ZYzOgQLWnRQXIldM1cLVlclJlSIfSNZVAwcU9" crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="#"><script defer="" type="text/javascript" src="//static.zohocdn.com/chat/source/officechat/js/avcliq-mediacomponents-min.315396c329330b4043e9fb84b40119e5.js"></script></head><body class="ember-application"><div style="position:absolute;top:100px;left:-30005%;display:none"><iframe sandbox="allow-scripts allow-same-origin" src="#"></iframe></div><div id="mics_tipDiv" class="micshide"></div><div id="micsbackdrop" class="micshide"></div>


<div id="mics_tpDiv" class="micshide"></div><link rel="stylesheet" href="https://static.zohocdn.com/micsinproduct/8605009/inproductsdk.css">
    
      

      
      
  


<script type="text/javascript" src="#"></script><div class="zread_strip" id="annmsgstrip" style="z-index: 999;"><div class="zread_olymn" id="wmsannmsg" style="display: none; z-index: 999;"><span id="annmsg"></span><div id="hideinfo" class="zchdr_arw"></div><a id="clearannmsg" style="text-decoration:underline; float:right; font-size: 11px; margin: 2px 25px 0px 0px">Don't show again</a></div></div><style type="text/css">#wmstoolbar *::-webkit-scrollbar, #zchhis *::-webkit-scrollbar, #wms_fork_container *::-webkit-scrollbar{ height:8px; width:8px } #wmstoolbar *::-webkit-scrollbar-thumb, #zchhis *::-webkit-scrollbar-thumb, #wms_fork_container *::-webkit-scrollbar-thumb{ background-color: #dcdcdc }</style><iframe id="pconnect" name="wmspconnect" src="#" style="display: none;"></iframe><div class="ember-view  finance-app"><div id="tooltip-popover-wrapper"></div> <!----><div class="product    "><!----><!----><div><ul id="ember3" class="dropdown ember-view nav skip-to"><button id="ember4" class="dropdown-toggle ember-view dropdown-toggle btn">Navigate To <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" class="icon icon-xxs"><path d="M2.157 159.57c0 13.773 5.401 27.542 16.195 38.02l198.975 192.867c21.411 20.725 55.94 20.725 77.34 0L493.63 197.59c21.508-20.846 21.637-54.778.269-75.773-21.35-20.994-56.104-21.098-77.612-.26L256.004 276.93 95.721 121.562c-21.528-20.833-56.268-20.734-77.637.26C7.472 132.261 2.157 145.923 2.157 159.57z"></path></svg></button> <div class="dropdown-menu   skip-to-dropdown-menu"><button class="dropdown-item skip-to-dropdown">Main Content</button> <button class="dropdown-item skip-to-dropdown">Left Sidebar</button> <button class="dropdown-item skip-to-dropdown">Top Bar</button></div></ul></div> <header class="top-band unified-top-band d-print-none" id="top-band">
    <div class=" logo-container  ">
        <div class="logo-collapse d-flex align-items-center cursor-pointer ">
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1024 1024" class="icon icon-xlg app-logo"><g class="cls-1"><path d="M264 866a30 30 0 01-30-25L105 106a36 36 0 00-26-28L22 60A30 30 0 1139 2l58 18a96 96 0 0167 76l129 735a30 30 0 01-24 34 30 30 0 01-5 1z" class="cls-2"></path></g>
            <g class="cls-1"><path d="M406 966a30 30 0 01-5-60l532-94a36 36 0 10-12-72l-457 81a96 96 0 01-112-78l-81-457a96 96 0 0178-112l458-81a96 96 0 01111 78l75 424a30 30 0 01-59 10l-75-423a36 36 0 00-42-30l-457 81a36 36 0 00-30 42l81 457a36 36 0 0042 30l457-81a96 96 0 1134 190l-532 94a30 30 0 01-6 1z" class="cls-2"></path></g><path d="M527 382a30 30 0 01-5-60l173-30a30 30 0 0111 59l-174 30a30 30 0 01-5 1z" class="cls-1"></path>
            <g class="cls-1"><path d="M322 1023a120 120 0 1121-2 121 121 0 01-21 2zm1-179a60 60 0 00-11 0 59 59 0 1011 0z" class="cls-2"></path></g></svg> <span class="top-item font-xlarge lh-100 app-logo-title text-white">Kambucha App</span></div></div>
             <div id="left-topband" class="d-flex align-items-center flex-grow-1 top-item"><div id="ember5" class="float-start dropdown recent-activities top-item-icon-spaced ember-view"><div id="ember6" class="dropdown ember-view rounded"><div id="ember7" class="dropdown-toggle no-caret ember-view cursor-pointer"><span id="recent-activities"><div id="c26b41ec-4815-4d81-aa4c-54ed91b482b7" tabindex="0" aria-describedby="df3a2e27-7109-482a-bc34-5a1607aec165"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon align-middle unified-icon-fill"><path d="M15.1.2c-.3 0-.5.2-.5.5v2.5C13.2 1.2 10.9.1 8.4 0c-2.1 0-4 .8-5.5 2.2C1.4 3.7.5 5.6.5 7.7c-.1 4.3 3.4 7.9 7.7 8h.1c2.9 0 5.6-1.6 7-4.2.1-.2 0-.5-.2-.7-.2-.1-.5 0-.7.2-1.2 2.3-3.6 3.8-6.2 3.7-3.8-.1-6.8-3.2-6.7-6.9 0-1.8.8-3.5 2.1-4.8 1.3-1.3 3-2 4.9-1.9 2.3 0 4.4 1.2 5.7 3.2l.6.9c.1.2.3.3.6.2.2-.1.4-.3.4-.5V.7c-.2-.3-.4-.5-.7-.5z"></path><path d="M7.8 4.7c-.3 0-.5.2-.5.5V9c0 .2.1.3.2.4l1.9 1.3c.1.1.2.1.3.1.2 0 .3-.1.4-.2.2-.2.1-.5-.1-.7L8.3 8.8V5.2c0-.3-.3-.5-.5-.5z"></path></svg></div> <!----></span></div> <div class="dropdown-menu   mt-4"><div class="m-4 px-3"><div class="text-center"><span class="font-xs text-muted text-uppercase letter-space-1">Recent Activities</span> <img src="/kambucha.jpeg" class="img-fluid p-4"> Your activities in Zoho Inventory will show up here!</div>
              <hr class="bdr-light"> <p class="text-muted font-small">Create your first transaction to get started with Zoho Inventory.</p> <div class="mb-3"><a id="ember8" class="ember-view" href="#/invoices/new"><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 417.4 512" class="icon icon-sm align-middle"><g id="Layer_1-2"><path d="M161.4 330.1h-47.1c-11 0-20 9-20 20s9 20 20 20h47.1c11 0 20-9 20-20s-9-20-20-20z"></path><path d="M394.2 129.9L287.5 23.3C272.5 8.2 252.6 0 231.4 0H100C44.9 0 0 44.9 0 100v312c0 55.1 44.9 100 100 100h217.4c55.1 0 100-44.9 100-100V186c0-21.2-8.3-41.1-23.2-56.1zm-28.3 28.3c2.3 2.3 4.3 4.9 6 7.6H305c-25.6 0-46.4-20.8-46.4-46.4V51l.6.6 106.7 106.6zm-48.5 313.9H100c-33.1 0-60-26.9-60-60V100c0-33.1 26.9-60 60-60h118.6v79.4c0 47.6 38.7 86.4 86.4 86.4h72.4V412c0 33.1-26.9 60-60 60z"></path></g></svg> &nbsp;Create Invoice</a></div><div class="mb-3"><a id="ember9" class="ember-view" href="#/bills/new"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.7 463.7" class="icon icon-sm align-middle"><path d="M249 204.3H137.7a21 21 0 110-42H249a21 21 0 110 42zm-38.8 96.2h-33.7a21 21 0 110-42h33.7a21 21 0 110 42z"></path><path d="M371.1 6.8a31 31 0 00-31 0l-56 32.6a9 9 0 01-9.1 0L219 6.9a51.2 51.2 0 00-51.3 0l-56 32.5a9 9 0 01-9 0L46.4 6.8A31 31 0 000 33.6v396.5a31 31 0 0046.5 26.8l56.1-32.5a9 9 0 019 0l56.1 32.5a51 51 0 0051.2 0l56-32.6a9 9 0 019.1 0l56.1 32.6a31.1 31.1 0 0046.6-26.8V33.6c0-11-6-21.3-15.6-26.8zM344.7 411L305 388a51.1 51.1 0 00-51.2 0l-56 32.5a9 9 0 01-9.1 0l-56-32.5a51.1 51.1 0 00-51.2 0L42 411V52.8l39.6 23a51.1 51.1 0 0051.2 0l56-32.6a9 9 0 019 0l56 32.5a51.1 51.1 0 0051.3 0l39.6-23V411z"></path></svg> &nbsp;Create Bill</a></div><div class="mb-3"><a id="ember10" class="ember-view" href="#/expenses/new"><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 423.7 512" class="icon icon-sm align-middle"><g id="Layer_1-2"><path d="M323.7 0H100C44.9 0 0 44.9 0 100v378c0 11.1 6 21.4 15.6 26.9s21.5 5.5 31.1 0l62.5-36.3c4.2-2.4 9.3-2.4 13.5 0l62.4 36.2c8.3 4.8 17.5 7.2 26.8 7.2s18.5-2.4 26.8-7.2l62.4-36.2c4.2-2.4 9.3-2.4 13.5 0l62.5 36.3c9.6 5.6 21.5 5.6 31.1 0 9.6-5.5 15.6-15.9 15.6-26.9V100c0-55.1-44.9-100-100-100zm60 462.5L334.6 434c-16.5-9.6-37.1-9.6-53.6 0l-62.4 36.2c-4.2 2.4-9.3 2.4-13.5 0L142.7 434c-8.3-4.8-17.5-7.2-26.8-7.2s-18.5 2.4-26.8 7.2L40 462.5V100c0-33.1 26.9-60 60-60h223.7c33.1 0 60 26.9 60 60v362.5z"></path><path d="M262.8 145.3H161c-11 0-20 9-20 20s9 20 20 20h101.8c11 0 20-9 20-20s-9-20-20-20zM235.5 255.6h-47.3c-11 0-20 9-20 20s9 20 20 20h47.3c11 0 20-9 20-20s-9-20-20-20z"></path></g></svg> &nbsp;Create Expense</a></div></div></div></div></div> <div id="ember11" class="search-field global-search top-item-spaced ember-view"><div id="quick-search"><div id="ember12" class="dropdown show ac-dropdown ember-view"><div class="input-group btn-group"><div id="ember13" class="dropdown ember-view input-group-prepend w-100"><span id="ember14" class="dropdown-toggle ember-view input-group-text cursor-pointer"><svg id="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon align-text-bottom search-icon"><path d="M15.85 15.14l-4.59-4.59a6.365 6.365 0 001.54-4.16C12.8 2.87 9.93 0 6.4 0S0 2.87 0 6.4s2.87 6.4 6.4 6.4c1.59 0 3.04-.58 4.16-1.54l4.59 4.59a.485.485 0 00.7 0c.2-.2.2-.51 0-.71zM1 6.4C1 3.42 3.42 1 6.4 1s5.4 2.42 5.4 5.4-2.42 5.4-5.4 5.4S1 9.38 1 6.4z"></path></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon icon-xxs align-middle arrow-down fill-theme-blue"><path d="M15.6 3.9c-.4-.4-1-.4-1.4 0L8 10 1.9 3.9c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l6.9 6.9c.2.2.4.3.7.3s.5-.1.7-.3l6.9-6.9c.3-.4.3-1-.1-1.4z"></path></svg></span> <div class="auto-select ac-selected w-100 d-flex" tabindex="-1"><input aria-label="Search in Items ( / )" placeholder="Search in Items ( / )" id="app-quick-search-field" class="ember-text-field ember-view form-control" type="text"> <!----></div> <!----> <div class="dropdown-menu   scrollmenu"><div><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-17="17">Customers <!----></button>
              <button class="dropdown-item pe-7 selected-option" type="button" data-ember-action="" data-ember-action-19="19">Items <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.93 274.82" class="icon icon-ok icon-xs"><path d="M130.88 274.82c-10.23 0-20.46-3.9-28.26-11.7l-90.88-90.75c-15.63-15.61-15.65-40.94-.04-56.57 15.61-15.63 40.94-15.65 56.57-.04l62.61 62.53L297.67 11.7c15.63-15.61 40.96-15.6 56.57.03 15.61 15.63 15.6 40.96-.03 56.57L159.15 263.12c-7.81 7.8-18.04 11.7-28.27 11.7z" id="Layer_1-2"></path></svg></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-21="21">Price Lists <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-23="23">Inventory Adjustments <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-25="25">Sales Orders <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-27="27">Packages <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-29="29">Shipments <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-31="31">Invoices <!----></button>
              <button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-33="33">Sales Returns <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-35="35">Credit Notes <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-37="37">Vendors <!----></button>
              <button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-39="39">Expenses <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-41="41">Purchase Orders <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-43="43">Purchase Receives <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-45="45">Bills <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-47="47">Vendor Credits <!----></button>
              <button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-49="49">Documents <!----></button><button class="dropdown-item pe-7 " type="button" data-ember-action="" data-ember-action-51="51">Tasks <!----></button></div> <div class="position-sticky bottom-0 bg-white"><li class="adv-search dropdown-item d-flex align-items-center m-0 rounded-0 border-top" data-ember-action="" data-ember-action-52="52"><span class="text-black cursor-pointer flex-grow-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon fill-theme-blue align-text-bottom"><path d="M455.2 419.8L385.3 350c25.6-33.5 39.1-74.4 38.2-117.1-1-48.5-20.4-94.1-54.7-128.4-35.3-35.3-82.2-54.7-132.2-54.7h-.2c-50 0-97 19.6-132.3 55-72.5 72.8-72.5 191.2.1 264 24.8 24.8 55.9 42.1 90 50 33.1 7.7 67.6 6.2 99.9-4.2 13.1-4.2 20.3-18.3 16.1-31.5-4.2-13.1-18.3-20.3-31.5-16.1-49.3 15.9-102.6 3.1-139.1-33.5-53.2-53.3-53.3-140-.1-193.4 25.9-25.9 60.3-40.3 96.9-40.3h.1c36.6 0 71 14.2 96.8 40.1 25.1 25.1 39.4 58.5 40.1 94.1.7 35.4-12.1 69.3-36 95.3l-.1.1c-11.6 12.8-11.2 32.3 1 44.5l81.4 81.4c4.9 4.9 11.3 7.3 17.7 7.3 6.4 0 12.8-2.4 17.7-7.3 9.8-9.9 9.8-25.7.1-35.5z"></path></svg>&nbsp;Advanced Search</span>  <em class="px-2 py-1 rounded-md fst-normal">Alt&nbsp;+&nbsp;/</em></li> <li class="zia-search dropdown-item d-flex align-items-center m-0 rounded-0 border-top" data-ember-action="" data-ember-action-53="53"><span class="text-black cursor-pointer flex-grow-1"><img src="https://d31g2a6snus4ly.cloudfront.net/zbooks/assets/images/ziasearch-4d77ef63db.png" width="14" height="14" class="mt-n2 ms-1">&nbsp;Search across Zoho</span> <em class="px-2 py-1 rounded-md fst-normal">Ctrl&nbsp;+&nbsp;/</em></li></div></div></div></div></div></div> <!----></div></div> <!----> <!----><!---->
               <div id="right-topband" class="d-flex align-items-center"><div class="dropdown orglist-topband orglist-title top-item-fixed-width"><div class="cursor-pointer d-flex align-items-center" data-ember-action="" data-ember-action-54="54"><span class="org-name-section font-normal over-flow" title="Demo Account 1 "><!----> {{pro.fullname}} </span> &nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon icon-xxs align-top "><path d="M15.6 3.9c-.4-.4-1-.4-1.4 0L8 10 1.9 3.9c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l6.9 6.9c.2.2.4.3.7.3s.5-.1.7-.3l6.9-6.9c.3-.4.3-1-.1-1.4z"></path></svg></div> <!----></div> <div><div id="ember55" class="dropdown ember-view top-item-spaced quik-add multi-col-dropdown rounded ms-0"><button id="ember56" class="dropdown-toggle no-caret ember-view btn p-0 no-box-shadow"><span id="quick-create"><span id="dd076364-6295-4be9-8488-4700da2ed492" class="quick-add-icon" tabindex="0" aria-describedby="cbed77ba-00ac-4194-9212-8497e3fb6042"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon align-middle unified-icon-fill"><rect width="32" height="32" rx="4" ry="4"></rect><path fill="#fff" d="M23.53 15.53h-7.06V8.47a.47.47 0 10-.94 0v7.06H8.47a.47.47 0 100 .94h7.06v7.06a.47.47 0 10.94 0v-7.06h7.06a.47.47 0 100-.94z"></path></svg></span> <!----></span></button> <div class="dropdown-menu   mt-2 dropdown-menu-center"><!----></div></div></div> <div id="ember57" class="dropdown top-item-icon-spaced ember-view cursor-pointer"><span class="cursor-pointer"><span id="cef965f8-dd42-41b6-988d-0092ef39ee78" tabindex="0" aria-describedby="c2a8f7e1-955e-4838-9718-a0da9b66c453"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon align-text-top unified-icon-fill"><path d="M6 7c1.5 0 2.7-1.2 2.7-2.7S7.5 1.5 6 1.5 3.2 2.8 3.2 4.3 4.5 7 6 7zm0-4.5c1 0 1.7.8 1.7 1.7S6.9 6 6 6c-1 0-1.8-.8-1.8-1.7S5 2.5 6 2.5zm5.8 5c1.1 0 1.9-.9 1.9-1.9s-.9-1.9-1.9-1.9c-1.1 0-1.9.9-1.9 1.9s.8 1.9 1.9 1.9zm0-2.9c.5 0 .9.4.9.9s-.4.9-.9.9-.9-.4-.9-.9.4-.9.9-.9zm.8 4H4C2 8.6.4 10.2.4 12.2v1.4c0 .3.2.5.5.5s.5-.2.5-.5v-1.4c0-1.4 1.2-2.6 2.6-2.6h4c1.4 0 2.6 1.2 2.6 2.6v1.4c0 .3.2.5.5.5s.5-.2.5-.5v-1.4c0-1-.4-2-1.1-2.6h2.1c1.2 0 2.2 1 2.2 2.2V13c0 .3.2.5.5.5s.5-.2.5-.5v-1.2c0-1.8-1.5-3.2-3.2-3.2z"></path></svg></span> <!----></span> <!----></div> <!----> <div id="ember58" class="dropdown top-item-icon-spaced user-notification ember-view cursor-pointer"><span class="cursor-pointer float-end" id="notification-bar"><div id="c9c19ea7-1b4f-4191-b2af-910baf66edbc" class="position-relative" tabindex="0" aria-describedby="e71f58d3-1971-4aea-a874-f4a9d1effe89"><!----> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon align-text-top unified-icon-fill "><path d="M14.44 8.73l-1.29-1.29a.51.51 0 01-.15-.35V5c0-2.76-2.24-5-5-5S3 2.24 3 5v2.09c0 .13-.05.26-.15.35L1.56 8.73c-.36.36-.56.84-.56 1.35v.41c0 .83.67 1.5 1.5 1.5h11c.83 0 1.5-.67 1.5-1.5v-.41c0-.51-.2-.99-.56-1.35zM14 10.5c0 .28-.22.5-.5.5h-11c-.28 0-.5-.22-.5-.5v-.41c0-.25.09-.47.27-.65l1.29-1.29c.28-.28.44-.67.44-1.06V5c0-2.21 1.79-4 4-4s4 1.79 4 4v2.09c0 .39.16.78.44 1.06l1.29 1.29c.17.17.27.4.27.65v.41zM10 13c-.28 0-.5.22-.5.5 0 .83-.67 1.5-1.5 1.5s-1.5-.67-1.5-1.5c0-.28-.22-.5-.5-.5s-.5.22-.5.5a2.5 2.5 0 005 0c0-.28-.22-.5-.5-.5z"></path></svg></div> <!----></span><!----> <!----></div> <div id="ember59" class="dropdown top-item-icon-spaced ember-view cursor-pointer "><span id="settings-dropdown"><span id="edeb662d-d7e1-40ee-aa42-57a76b59c0f5" tabindex="0" aria-describedby="c20f6680-41c2-4ddb-be7a-09a09ceafca6"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon cursor-pointer align-text-top unified-icon-fill"><path d="M8 5C6.35 5 5 6.35 5 8s1.35 3 3 3 3-1.35 3-3-1.35-3-3-3zm0 5c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"></path><path d="M13.99 8.28v-.56l1.15-1.3c.43-.48.5-1.18.18-1.75l-.78-1.35c-.32-.56-.96-.85-1.6-.72l-1.7.35c-.16-.1-.32-.19-.49-.28l-.55-1.65C10 .41 9.43 0 8.78 0H7.22C6.57 0 6 .41 5.8 1.03l-.55 1.65c-.17.09-.33.18-.49.28l-1.7-.35c-.63-.13-1.28.16-1.6.72L.68 4.68c-.32.56-.25 1.26.18 1.75l1.15 1.3v.56L.86 9.59c-.43.48-.5 1.19-.18 1.75l.78 1.35c.32.56.97.85 1.6.72l1.7-.35c.16.1.32.19.49.28l.55 1.65c.21.61.78 1.02 1.42 1.02h1.56c.65 0 1.22-.41 1.42-1.03l.55-1.65c.17-.09.33-.18.49-.28l1.7.35c.63.13 1.27-.16 1.6-.72l.78-1.35c.32-.56.25-1.26-.18-1.75l-1.15-1.3zm.46 2.54l-.78 1.35c-.11.19-.32.28-.53.24l-1.9-.39c-.13-.03-.27 0-.39.08-.22.15-.46.29-.72.41-.12.06-.22.16-.26.29l-.62 1.85c-.07.21-.26.34-.47.34H7.22c-.22 0-.41-.14-.47-.34l-.62-1.85a.469.469 0 00-.26-.29c-.26-.12-.5-.26-.72-.41a.476.476 0 00-.29-.09h-.1l-1.9.39a.484.484 0 01-.53-.24l-.78-1.35a.497.497 0 01.06-.58L2.9 8.77c.09-.1.13-.24.12-.37-.01-.14-.02-.28-.02-.42s0-.28.02-.42a.49.49 0 00-.12-.37L1.61 5.74a.499.499 0 01-.06-.58l.78-1.35c.11-.19.32-.28.53-.24l1.9.39c.13.03.27 0 .39-.08.22-.15.46-.29.72-.41.12-.06.22-.16.26-.29l.62-1.85c.07-.2.26-.34.47-.34h1.56c.22 0 .41.14.47.34l.62 1.85c.04.13.14.24.26.29.26.12.5.26.72.41.11.08.25.11.39.08l1.9-.39c.21-.04.42.05.53.24l.78 1.35c.11.19.08.42-.06.58L13.1 7.2c-.09.1-.14.24-.12.37s.02.28.02.42 0 .28-.02.41.03.27.12.37l1.29 1.46c.14.16.17.4.06.58z"></path></svg></span> <!----></span> <!----></div></div> <div class="d-flex align-items-center"><div class="top-item-fixed-width position-relative" id="profile-section"><span class="cursor-pointer" data-ember-action="" data-ember-action-60="60"><img class="float-start rounded-circle" alt="inhari" src="https://contacts.zoho.com/file?t=user&amp;ID=772539688&amp;fs=thumb"></span> <!----></div></div> <div class="products-menu-addon-container"><div class="text-center cursor-pointer zohoapps position-relative "><div class="zohoapps__candybox"><div class="zohoapps__candybox__dots"><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span></div> <div class="zohoapps__candybox__z-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 100 100"><path class="zohoapps__candybox__z-icon__path1" d="M50 50l1.8-4.5 3.5-8.6c1.3-3.3-1.1-6.9-4.6-6.9H9c-3.6 0-6-3.7-4.6-6.9l6.8-16C12 5.2 13.8 4 15.8 4h51.9c14.1 0 23.7 14.2 18.6 27.2l-8.7 22.3"></path><path class="zohoapps__candybox__z-icon__path2" d="M22.4 46.4l-8.7 22.3C8.6 81.8 18.2 96 32.3 96h51.9c2 0 3.8-1.2 4.6-3.1l6.8-16c1.4-3.3-1-6.9-4.6-6.9H49.4c-3.5 0-6-3.6-4.6-6.9l3.7-9.3L50 50"></path></svg></div></div> <!----></div> <!----></div></header><!----><!----> <!----> <div id="flyout-with-topbar" class="d-print-none"></div> <div class="product-wrapper"><nav id="main-nav-tab" class="noscroll-x tab-column main-tab-column d-print-none scrollbar-thin ember-view  "><!----><ul class="nav nav-pills fill nav-bottom-spacing flex-column"><li id="ember338" class="ember-view nav-item">
      <a id="ember339" class="ember-view nav-link" href="#/home">
<!---->          
              <span id="fea22344-9d3b-4ef7-9a36-35e21edcd108" class="position-relative" tabindex="0" aria-describedby="edc5923f-2e59-4066-a505-95c97412aa6e">
<!---->                <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 514 458.5" class="icon lpanel"><path d="M507 185.7L315.7 20.9C283.6-6.7 236.8-7 204.3 20.2L7.2 185.5c-8.5 7.1-9.6 19.7-2.5 28.2 4 4.7 9.6 7.2 15.3 7.2s9.1-1.5 12.8-4.7l25.6-21.4v165.4c.9 54.4 45.4 98.4 100 98.4h197.2c54.6 0 99.1-44 100-98.4V194.3l25.4 21.8c8.4 7.2 21 6.3 28.2-2.1 7.2-8.4 6.3-21-2.1-28.2zM298.7 418.5h-83.5v-65.7c0-23 18.7-41.8 41.8-41.8s41.8 18.7 41.8 41.8v65.7zm116.8-60c0 33.1-26.9 60-60 60h-16.8v-65.7c0-45.1-36.7-81.8-81.8-81.8s-81.8 36.7-81.8 81.8v65.7h-16.8c-33.1 0-60-26.9-60-60V161.2L230 50.9c17.4-14.6 42.4-14.4 59.6.4l126 108.5v198.7z" id="Layer_1-2"></path></svg>
              </span>
             <!---->
        Home
<!----><!---->      </a>
    </li>
  <ul class="nav flex-column" id="nav_accordion">



   <li class="divider"></li>
    <li id="ember420" class="ember-view nav-item">
      <a id="ember421" class="ember-view nav-link" href="/rm/stockRequisition">
<!---->          
              <span id="d2f4a213-766d-47e6-b839-7ed15e8ec8f1" class="position-relative" tabindex="0" aria-describedby="c299bf4d-18d3-4dd2-b580-27155f983350">
<!---->                <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon lpanel"><path d="M412 0H100C44.9 0 0 44.9 0 100v312c0 55.1 44.9 100 100 100h312c55.1 0 100-44.9 100-100V100C512 44.9 467.1 0 412 0zm-70.8 209.7c11.6 0 21 9.4 21 21V241c0 53.6-43.6 97.2-97.2 97.2h-5.5c-1.2-.2-2.3-.3-3.5-.3s-2.4.1-3.5.3H247c-53.6 0-97.2-43.6-97.2-97.2v-10.3c0-11.6 9.4-21 21-21h170.5zM472 412c0 33.1-26.9 60-60 60H276v-94.2c70.6-5.6 126.3-64.8 126.3-136.8v-10.3c0-33.7-27.4-61-61-61h-6.4v-55.3c0-11-9-20-20-20s-20 9-20 20v55.3h-77.6v-55.3c0-11-9-20-20-20s-20 9-20 20v55.3h-6.5c-33.7 0-61 27.4-61 61V241c0 72 55.7 131.2 126.3 136.8V472H100c-33.1 0-60-26.9-60-60V100c0-33.1 26.9-60 60-60h312c33.1 0 60 26.9 60 60v312z" id="Layer_1-2"></path></svg>
              </span>
             <!---->
        Request Stock
<!----><!---->      </a>
    </li>

    <li class="divider"></li><li id="ember423" class="ember-view nav-item">
      <a id="ember424" class="ember-view nav-link" href="/rm/approvedRequsitions">
<!---->          
                <span id="f8acc720-241a-4e63-a91d-d33bc5de12c8" class="position-relative" tabindex="0" aria-describedby="fb8b764d-b3bb-4de1-b13d-5afa94b364a3">
<!---->                <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 490" class="icon lpanel"><path d="M492.4 192.6c-5.4-6.5-11.7-11.7-18.5-15.6v-29.9c0-43.4-35.3-78.7-78.7-78.7H270.3c-3.5 0-6.9-1.5-9.3-4.2l-40.8-45.6C209.7 6.8 194.4 0 178.5 0h-62C73.1 0 37.8 35.3 37.8 78.7v98.5c-6.7 3.8-12.8 9-18.2 15.4-16.1 19.1-22.8 46.5-18.1 73.2l26.1 147.8c3.7 20.9 13.1 39.9 26.5 53.6C68.5 481.9 86.9 490 106 490h299.9c19 0 37.4-8.1 51.8-22.8 13.6-13.9 22.8-32.4 26.6-53.5l26.3-147.8c4.7-26.7-2-54.1-18.1-73.3zM116.5 40h62c4.6 0 8.9 2 12 5.3l40.8 45.6c10 11.1 24.2 17.5 39.1 17.5h124.9c21.3 0 38.7 17.3 38.7 38.7v22.2H77.8V78.6c0-21.3 17.3-38.7 38.7-38.7zm354.6 218.9l-26.3 147.8c-4.5 25.1-20.9 43.3-39 43.3H106c-18.2 0-34.6-18.2-39-43.3L40.9 258.9c-2.6-14.9 1-30.5 9.4-40.5 3.4-4.1 9.1-8.9 16.7-8.9h378.1c7.6 0 13.3 4.9 16.7 8.9 8.4 10.1 12 25.6 9.4 40.6z" id="Layer_1-2"></path></svg>
              </span>
             <!---->
        Purchase Orders
<!----><!---->      </a>
    </li>


        <li class="divider"></li><li id="ember423" class="ember-view nav-item">
      <a id="ember424" class="ember-view nav-link" href="/rm/grvList">
<!---->          
              <span id="f8acc720-241a-4e63-a91d-d33bc5de12c8" class="position-relative" tabindex="0" aria-describedby="fb8b764d-b3bb-4de1-b13d-5afa94b364a3">
<!---->                <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 490" class="icon lpanel"><path d="M492.4 192.6c-5.4-6.5-11.7-11.7-18.5-15.6v-29.9c0-43.4-35.3-78.7-78.7-78.7H270.3c-3.5 0-6.9-1.5-9.3-4.2l-40.8-45.6C209.7 6.8 194.4 0 178.5 0h-62C73.1 0 37.8 35.3 37.8 78.7v98.5c-6.7 3.8-12.8 9-18.2 15.4-16.1 19.1-22.8 46.5-18.1 73.2l26.1 147.8c3.7 20.9 13.1 39.9 26.5 53.6C68.5 481.9 86.9 490 106 490h299.9c19 0 37.4-8.1 51.8-22.8 13.6-13.9 22.8-32.4 26.6-53.5l26.3-147.8c4.7-26.7-2-54.1-18.1-73.3zM116.5 40h62c4.6 0 8.9 2 12 5.3l40.8 45.6c10 11.1 24.2 17.5 39.1 17.5h124.9c21.3 0 38.7 17.3 38.7 38.7v22.2H77.8V78.6c0-21.3 17.3-38.7 38.7-38.7zm354.6 218.9l-26.3 147.8c-4.5 25.1-20.9 43.3-39 43.3H106c-18.2 0-34.6-18.2-39-43.3L40.9 258.9c-2.6-14.9 1-30.5 9.4-40.5 3.4-4.1 9.1-8.9 16.7-8.9h378.1c7.6 0 13.3 4.9 16.7 8.9 8.4 10.1 12 25.6 9.4 40.6z" id="Layer_1-2"></path></svg>
              </span>
             <!---->
        GRVs
<!----><!---->      </a>
    </li>

    
  </ul>
<!----><!----><!----><!----> <!---->
    <li class="divider"></li> 
    <li class="divider"></li> 
    <li class="divider"></li> 
    <li class="divider"></li> 
    <li class="divider"></li> 
    <div class="tab-column collapse-view" style="height: 148px;">
        <div class="plan-based-nav-light py-1 plan-based-com">
            <!--<div class="px-3 pb-2"><div class="ps-3 rounded-sm" style="border-left:3px solid  #ffa147">Your <span class="text-semibold">Premium</span> plan's trial expires in <span style="color:#ed7714" class="text-medium">7 days</span>.</div>
            </div>-->
             <div class="cursor-pointer text-center btn-group" style="border-top: 1px solid #ececec">
           <!--<div class="plan-based-button-light" data-ember-action="" data-ember-action-177="177">Change Plan</div> 
                 <a id="ember178" class="ember-view mp-link-badge" style="padding: 5px 17px;" href="#/settings/changeplan">Upgrade</a></div></div></div><!----> <!----><!----></ul> <!----> <!----> 
                 <span class="collapse-expand" data-ember-action="" data-ember-action-179="179"></span> 
                  <button class="icon-button expand-sidebar " type="button" data-ember-action="" data-ember-action-180="180"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon lpanel" aria-hidden="true"><path d="M336.3 64c7.3 0 14.1 2.9 19.3 8.1 11 11.1 11.1 29.2.2 40.4L226.4 244.2l-11.5 11.7 11.5 11.7 129.4 131.7c11 11.2 10.9 29.3-.2 40.4-5.2 5.2-12 8.1-19.3 8.1-7.4 0-14.3-2.9-19.5-8.2L156.2 276.1c-10.9-11.1-10.9-29.1 0-40.2L316.9 72.2c5.2-5.3 12.1-8.2 19.4-8.2"></path></svg></button> <!----><!----></nav> <!----> <!----><!---->
                   <main class="product-content-container">
                <div class="column list-column d-print-none overflow-initial"><div class="fill list-header d-print-none">
                           <div class="list-filter"><!----> <div class="btn-toolbar float-end ">
                               <button class="btn btn-primary" data-ember-action="" data-ember-action-278="278">
                                   <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon-xs align-baseline"><path d="M479.84 255.81a30 30 0 01-30 30H286v163.84a30 30 0 01-60 0V285.81H62.18a30 30 0 010-60H226V62a30 30 0 0160 0v163.81h163.84a30 30 0 0130 30z"></path><path fill="none" d="M0 0h512v512H0z"></path></svg>&nbsp; New</button><!----><!---->
                                    <div id="ember279" class="dropdown ember-view btn-group list-sorter">
                                        <a id="ember280" class="dropdown-toggle no-caret ember-view btn btn-secondary"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 4 16" xml:space="preserve" class="icon icon-sm align-text-top"><g id="Page-1">
                                            <g id="_x30_4_x5F_template-pages" transform="translate(-1379 -181)"><g id="Group-10" transform="translate(439 114)"><g id="Group-13" transform="translate(940 67)" fill-rule="evenodd" clip-rule="evenodd"><circle id="Oval" cx="2" cy="2" r="2"></circle><circle id="Oval_00000116957107014575672480000012724141595583201177_" cx="2" cy="8" r="2"></circle><circle id="Oval_00000040546887160477519110000016335264596464450209_" cx="2" cy="14" r="2"></circle></g></g></g></g></svg></a> <div class="dropdown-menu  dropdown-menu-right multi-level"><div id="ember281" class="dropdown ember-view dropdown-submenu"><div id="ember282" class="dropdown-toggle no-caret ember-view cursor-pointer mx-n3 px-3">
         <div class="align-items-center dropdown-item d-flex"><div>Sort by</div> <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" class="icon icon-xxs ms-auto"><path d="M158.747 512c13.885 0 27.778-5.45 38.345-16.335L391.6 294.999c20.898-21.591 20.898-56.406 0-77.971L197.092 16.35c-21.023-21.693-55.245-21.818-76.413-.268-21.17 21.53-21.283 56.578-.26 78.271l156.688 161.646-156.688 161.642c-21.018 21.703-20.905 56.748.26 78.301C131.207 506.64 144.979 512 158.747 512z"></path></svg></div></div> <div class="dropdown-menu   multi-level-submenu dropdown-menu-right"><button class="dropdown-item d-flex align-items-center sortable asc " type="button" data-ember-action="" data-ember-action-284="284">Created Time <!----></button>
        <button class="dropdown-item d-flex align-items-center sortable asc active" type="button" data-ember-action="" data-ember-action-286="286">Name <span class="column d-print-none ps-2"><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 374.98 227.51" class="icon icon-xxxs sort-up-caret rotate-180"><path d="M187.46 227.51c-10.23 0-20.46-3.9-28.27-11.71L11.73 68.45C-3.9 52.83-3.91 27.51 11.71 11.88c15.62-15.63 40.94-15.64 56.57-.02l119.18 119.09L306.69 11.72c15.62-15.62 40.95-15.62 56.57 0 15.62 15.62 15.62 40.95 0 56.57L215.75 215.8c-7.81 7.81-18.05 11.72-28.28 11.72z" id="Layer_1-2"></path></svg> 
        <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 374.98 227.51" class="icon icon-xxxs sort-down-caret"><path d="M187.46 227.51c-10.23 0-20.46-3.9-28.27-11.71L11.73 68.45C-3.9 52.83-3.91 27.51 11.71 11.88c15.62-15.63 40.94-15.64 56.57-.02l119.18 119.09L306.69 11.72c15.62-15.62 40.95-15.62 56.57 0 15.62 15.62 15.62 40.95 0 56.57L215.75 215.8c-7.81 7.81-18.05 11.72-28.28 11.72z" id="Layer_1-2"></path></svg></span></button>
      <button class="dropdown-item d-flex align-items-center sortable asc " type="button" data-ember-action="" data-ember-action-288="288">SKU <!----></button>
      <button class="dropdown-item d-flex align-items-center sortable asc " type="button" data-ember-action="" data-ember-action-290="290">Stock On Hand <!----></button><button class="dropdown-item d-flex align-items-center sortable asc " type="button" data-ember-action="" data-ember-action-292="292">Reorder Level <!----></button>
      <button class="dropdown-item d-flex align-items-center sortable asc " type="button" data-ember-action="" data-ember-action-294="294">Last Modified Time <!----></button></div></div> <!----> <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button" data-ember-action="" data-ember-action-295="295"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon align-text-top"><path d="M447.6 270.8c-8.8 0-15.9 7.1-15.9 15.9v142.7H80.4V286.8c0-8.8-7.1-15.9-15.9-15.9s-15.9 7.1-15.9 15.9v158.6c0 8.8 7.1 15.9 15.9 15.9h383.1c8.8 0 15.9-7.1 15.9-15.9V286.8c0-8.8-7.1-16-15.9-16z"></path><path d="M244.7 328.4c.4.4.8.7 1.2 1.1.2.1.4.3.5.4.2.2.5.4.7.5.2.1.4.3.7.4.2.1.4.3.7.4.2.1.5.2.7.3.2.1.5.2.7.3.2.1.5.2.7.3.3.1.5.2.8.3.2.1.5.1.7.2.3.1.5.1.8.2.3.1.6.1.8.1.2 0 .5.1.7.1.5.1 1 .1 1.6.1s1 0 1.6-.1c.2 0 .5-.1.7-.1.3 0 .6-.1.8-.1.3-.1.5-.1.8-.2.2-.1.5-.1.7-.2.3-.1.5-.2.8-.3.2-.1.5-.2.7-.3.2-.1.5-.2.7-.3.2-.1.5-.2.7-.3.2-.1.5-.3.7-.4.2-.1.4-.3.7-.4.3-.2.5-.4.7-.5.2-.1.4-.3.5-.4.4-.3.8-.7 1.2-1.1l95-95c6.2-6.2 6.2-16.3 0-22.5-6.2-6.2-16.3-6.2-22.5 0L272 278.7v-212c0-8.8-7.1-15.9-15.9-15.9s-15.9 7.1-15.9 15.9v212l-67.8-67.8c-6.2-6.2-16.3-6.2-22.5 0-6.2 6.2-6.2 16.3 0 22.5l94.8 95z"></path></svg> &nbsp; &nbsp;Import Items</button> 
      <button class="dropdown-item" type="button" data-ember-action="" data-ember-action-296="296"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon align-text-top"><path d="M356 169.2c-3.1 3.1-7.2 4.7-11.3 4.7-4.1 0-8.2-1.6-11.3-4.7L272 107.8v205c0 8.8-7.2 16-16 16s-16-7.2-16-16v-205l-61.4 61.4c-6.2 6.2-16.4 6.2-22.6 0-6.2-6.2-6.2-16.4 0-22.6l88.7-88.7c6.2-6.2 16.4-6.2 22.6 0l88.7 88.7c6.3 6.2 6.3 16.3 0 22.6z"></path><path d="M423 463.6H89c-44.9 0-81.4-39.8-81.4-88.7v-97.3c0-8.8 7.2-16 16-16s16 7.2 16 16v97.3c0 31.3 22.2 56.7 49.4 56.7h334c27.2 0 49.4-25.4 49.4-56.7v-98.5c0-8.8 7.2-16 16-16s16 7.2 16 16v98.5c0 48.9-36.5 88.7-81.4 88.7z"></path></svg> &nbsp; &nbsp;Export Items</button> 
      <div class="dropdown-divider"></div> <button class="dropdown-item" type="button" data-ember-action="" data-ember-action-297="297"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon align-text-top"><path d="M356 169.2c-3.1 3.1-7.2 4.7-11.3 4.7-4.1 0-8.2-1.6-11.3-4.7L272 107.8v205c0 8.8-7.2 16-16 16s-16-7.2-16-16v-205l-61.4 61.4c-6.2 6.2-16.4 6.2-22.6 0-6.2-6.2-6.2-16.4 0-22.6l88.7-88.7c6.2-6.2 16.4-6.2 22.6 0l88.7 88.7c6.3 6.2 6.3 16.3 0 22.6z"></path><path d="M423 463.6H89c-44.9 0-81.4-39.8-81.4-88.7v-97.3c0-8.8 7.2-16 16-16s16 7.2 16 16v97.3c0 31.3 22.2 56.7 49.4 56.7h334c27.2 0 49.4-25.4 49.4-56.7v-98.5c0-8.8 7.2-16 16-16s16 7.2 16 16v98.5c0 48.9-36.5 88.7-81.4 88.7z"></path></svg></i> Export Current View</button><!---->
       <div class="dropdown-divider"></div> <button class="dropdown-item" data-ember-action="" data-ember-action-298="298"><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.6 512" class="icon icon-xs"><g id="Layer_1-2"><path d="M469.1 275.1a34.85 34.85 0 010-38.2l28.3-43c4.2-6.3 4.4-14.4.6-21l-51.9-89.8c-3.8-6.5-10.9-10.4-18.5-10l-51.4 3c-13.9.8-26.8-6.7-33.1-19.1L320 11c-3.4-6.8-10.3-11-17.9-11H198.4c-7.6 0-14.5 4.3-17.9 11l-23.1 46c-6.2 12.4-19.2 19.9-33.1 19.1l-51.4-3c-7.6-.5-14.7 3.4-18.5 10L2.7 172.9c-3.8 6.5-3.5 14.7.6 21l28.3 43c7.6 11.6 7.6 26.6 0 38.2l-28.3 43c-4.2 6.3-4.4 14.4-.6 21l51.9 89.8c3.8 6.5 10.9 10.4 18.5 10l51.4-3c13.9-.8 26.8 6.7 33.1 19.1l23.1 46c3.4 6.8 10.3 11 17.9 11h103.7c7.6 0 14.5-4.3 17.9-11l23.1-46c6.2-12.4 19.2-19.9 33.1-19.1l51.4 3c7.6.5 14.7-3.4 18.5-10l51.9-89.8c3.8-6.5 3.5-14.7-.6-21l-28.3-43zm-51.4 123.1l-39.1-2.3a74.7 74.7 0 00-71.1 41.1l-17.6 35h-79.1l-17.6-35a74.7 74.7 0 00-71.1-41.1L83 398.2l-39.5-68.5L65 297c16.4-25 16.4-57.2 0-82.1l-21.5-32.7L83 113.7l39.1 2.3a74.7 74.7 0 0071.1-41.1l17.6-35h79.1l17.6 35c12.7 25.4 38.6 41.2 66.8 41.2 1.5 0 2.9 0 4.4-.1l39.1-2.3 39.5 68.5-21.5 32.7c-16.4 25-16.4 57.2 0 82.1l21.5 32.7-39.5 68.5z"></path><path d="M250.3 174.3c-45.1 0-81.7 36.7-81.7 81.7s36.7 81.7 81.7 81.7S332 301 332 256s-36.7-81.7-81.7-81.7zm0 123.5c-23 0-41.7-18.7-41.7-41.7s18.7-41.7 41.7-41.7 41.7 18.7 41.7 41.7-18.7 41.7-41.7 41.7z"></path></g></svg> &nbsp; &nbsp;Preferences</button> <div class="dropdown-divider"></div> <button class="dropdown-item" type="button" data-ember-action="" data-ember-action-299="299"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-xs"><path d="M417.1 509.3h-.4c-3.5-.3-6.5-1.8-8.7-4.3-2.2-2.6-3.3-5.8-3.1-9.3v-.2l6.3-49.2C366.1 485.4 308.4 507 248.5 507c-9.7 0-19.7-.6-29.4-1.8-65.8-7.9-124.6-40.9-165.5-93.1C14.1 361.7-3.9 297.6 3 231.7c.1-1.3.3-2.6.4-3.9.3-3 1.4-5.6 3-8 3.4-5 8.9-7.9 14.9-7.9.7 0 1.5 0 2.2.1 4.8.5 9.1 3 12.1 6.8 3 3.7 4.2 8.4 3.8 13v.3c-.1 1.1-.2 2.2-.4 3.3-5.9 56.5 9.4 111.4 43.1 154.3 35 44.5 85.2 72.8 141.5 79.5 8.4 1 16.8 1.5 25.2 1.5 51.4 0 100.9-18.6 139.5-52.3 1.6-1.4 3.1-2.7 4.7-4.1l-60.6-1.5h-.2c-4.5-.3-8.8-2.3-11.4-5.3-1.8-2.1-2.7-4.8-2.4-7.4v-.2l.2-5.4v-.4c.3-2.1 1.1-4.1 2.3-5.9 2.6-3.8 7.1-6.2 11.6-6.2h.5l96.1 2.6h.4l6.3.3c3.6.2 6.8 1.7 9.1 4.4 2.3 2.6 3.4 6 3.1 9.6l-.6 6.3-.1.4-11.6 93.7c-.2 2.2-1 4.2-2.1 5.8-2.2 3.3-6 5.2-10.6 5.2h-1l-4.9-1zm75.2-210.7c-.7 0-1.5 0-2.1-.1-9.7-1.2-16.8-10-15.8-19.8v-.3c.1-1 .2-2 .3-3.1 5.8-55.1-9.9-109.4-44.2-153.1-35-44.5-85.2-72.8-141.4-79.5-8.9-1.1-17.8-1.6-26.5-1.6-20.6 0-41 3-60.7 8.8-28.4 8.5-54.1 22.6-76.5 42.1-5 4.3-9.7 8.9-14.3 13.6l61.4 1.5h.2c4.2.3 8.4 2.3 10.9 5.3 2.5 2.9 2.9 5.8 2.6 7.8v.3l.1 5-.1.6c-.3 2-1.1 4-2.2 5.7-2.6 3.8-7.1 6.2-11.6 6.2h-.6l-96.1-2.6h-.3l-6.5-.3c-3.6-.2-6.8-1.7-9.1-4.4-2.3-2.6-3.4-6-3.1-9.6l.6-6.3.1-.4L69 20.7c.2-2.2 1.1-4.3 2.3-6.1 2.5-3.7 6.7-6 11.1-6.2h1.1l5 1.2h.4c2.9.2 5.3 1.6 7.3 3.8 2.4 2.9 3.8 7.2 3.5 11.2v.3l-6 47.3c2.6-2.5 5.3-5 7.9-7.3C127.9 42 158 25.4 191.2 15.4 214.3 8.5 238.3 5 262.5 5c10.2 0 20.6.6 30.9 1.9C359.2 14.7 418 47.8 458.9 100c40.1 51.1 58.5 114.6 51.7 179.1-.1 1.3-.3 2.4-.4 3.7-.3 2.9-1.4 5.6-3 8-3.4 4.8-9 7.8-14.9 7.8z"></path></svg> &nbsp; &nbsp;Refresh List</button></div></div></div> <!----> <!----><div id="ember301" class="dropdown ember-view clearfix list-title"><a id="ember302" class="dropdown-toggle no-caret ember-view icon-position "><!----><span class="filter-title over-flow " style="color: #212529;">All Items</span> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-xsmall fill-dropdown-blue mb-1"><path d="M492.9 211.6c-25.5-25.7-67.1-25.8-92.8-.3L256 354.2l-144.1-143c-25.7-25.5-67.3-25.4-92.8.3s-25.4 67.2.3 92.7L209.8 493c25.6 25.4 66.9 25.4 92.5 0l190.4-188.8c12.9-12.8 19.4-29.7 19.4-46.5-.1-16.6-6.5-33.4-19.2-46.1z"></path></svg> <!----></a> <div class="dropdown-menu   scrollmenu listview-filter p-0 "><!----> <div id="ember303" class="ember-view scroll-content border-bottom"><!----><div id="ember304" class="ember-view"><!----> <div id="ember305" class="ember-view collapse show" style=""><button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-306="306"><span>All Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-307="307"><span>Active Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-308="308"><span>Ungrouped Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-309="309"><span>Low Stock Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-310="310"><span>Sales</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-311="311"><span>Purchases</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-312="312"><span>Inventory Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-313="313"><span>Non-Inventory Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-314="314"><span>Services</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-315="315"><span>Inactive Items</span> <!----></button>
        <button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-316="316"><span>Returnable Items</span> <!----></button><button class="dropdown-item d-flex justify-content-between gap-10  " type="button" data-ember-action="" data-ember-action-317="317"><span>Non Returnable Items</span> <!----></button></div></div><!----><!----><!----><!----><!----></div> 
      <div class="p-1"><a id="ember428" class="ember-view d-flex align-items-center p-2 ms-1 w-100 text-charcoal" href="#/customviews/new?entity_type=item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon-md me-2 mb-1 text-blue"><path d="M255.8 40.8c-118.9 0-215.4 96.5-215.4 215.4s96.5 215.4 215.4 215.4 215.4-96.4 215.4-215.4S374.7 40.8 255.8 40.8zm94.5 237h-72.9v72.9c-.3 11.9-10.1 21.4-22.1 21.2-11.6-.2-20.9-9.6-21.2-21.2v-72.9h-72.9c-11.9 0-21.6-9.7-21.6-21.6s9.7-21.6 21.6-21.6h72.9v-72.9c.3-11.9 10.1-21.4 22.1-21.2 11.6.2 20.9 9.6 21.2 21.2v72.9h72.9c11.9 0 21.6 9.7 21.6 21.6 0 12-9.7 21.6-21.6 21.6z"></path></svg> New Custom View</a></div> </div></div></div></div><div id="scrolled_div" class="fill body list-body d-flex scroll-y"> <div class="erp-adv-search "><!----></div> <div class="scroll-y w-100 scrollbox" id="items-list-view-container"><div id="ember318" class="ember-view"><!----></div> <!----> 
<div class="table-responsive overflow-initial  ">
<table id="vertically-scrolled-table" class="table zi-table table-hover header-fixed"><!---->
 <tbody>
   	 {{#each listX}}
<tr tabindex="-1" id="ember321" class="ember-view   ">
<td class="   bulk-selection-cell cursor-pointer text-end" style="width: 38px;min-width: 38px;max-width: 38px;">
<input id="ember323" class="ember-checkbox ember-view cursor-pointer align-middle" type="checkbox"></td> 
<td class="ps-1 pe-3" data-ember-action="" data-ember-action-324="324">
<div class="list-primary d-flex">
<div>
<a id="ember325" class="ember-view text-break text-medium" href="#/inventory/items/5333818000000091011?filter_by=Status.All&amp;per_page=25&amp;sort_column=name&amp;sort_order=A"><span class="text-black-semibold">{{this.name}}</span></a> <!----></div>
<span class="ms-auto amount">${{this.usd}}</span></div> <!---->
<div class="text-dark-shade-blue">Units: kg</div></td></tr> <!---->
		{{/each}}
</tbody>
</table>

</div> 


<script>

var refNumber = {{{refNumber}}}
$.ajax({
   
    dataType: 'json',
    type: 'POST',
	
    url: "/addMaterial3/"+refNumber,
    success: function(data) {
    console.log(data)
   

    
   for(var i = 0;i<data.length;i++){
    var tr = document.createElement('tr');

    var td1 = tr.appendChild(document.createElement('td'));
    var td2 = tr.appendChild(document.createElement('td'));
	//var td3 = tr.appendChild(document.createElement('td'));
    var td4 = tr.appendChild(document.createElement('td'));
    var td5 = tr.appendChild(document.createElement('td'));
    var td6 = tr.appendChild(document.createElement('td'));
    
   
    td1.id =data[i]._id
    td4.id = data[i]._id
/*td2.classList.add('text-end', 'pe-0')
td3.classList.add('text-end', 'pe-0')
td4.classList.add('text-end', 'pe-1')
link.classList.add('text-end','pe-0')
link.setAttribute("href", "/rec/delete")
link.className = "text-end";*/

/*let link = document.createTextNode("Delete")

td5.appendChild(link);*/


td1.innerHTML = data[i].weight;
    td2.innerHTML = data[i].openingMass;
   // td3.innerHTML = data.casesReceived;
    td4.innerHTML=  data[i].newMass ;
    td5.innerHTML = data[i].closingMass
    td6.innerHTML = data[i].refNumber

    /*let link2 = "/rec/delete/"+data[i]._id

    var linkText = 'Delete'
link.href="/rec/delete/"+data[i]._id*/
 
    /*link.innerHTML='<a href="'+link2+'">'+linkText+'</a>'

    console.log(link,'33tt')
  

    console.log(td4,'yeah')*/

  document.getElementById("kt_ecommerce_report_sales_table").appendChild(tr)

   }





var table = document.getElementById('kt_ecommerce_report_sales_table')
var cells = table.getElementsByClassName("text-end pe-1")
for(var i = 0; i< cells.length; i++){
cells[i].onclick = function(){
console.log(i,'this')
if(this.hasAttribute('data-clicked')){
    
    return;
}

this.setAttribute('data-clicked', 'yes')
this.setAttribute('data-text', this.innerHTML)

var input = document.createElement('input');
input.setAttribute('type', 'text')
input.value = this.innerHTML
input.style.width = this.offsetWidth - (this.clientLeft * 2) + 'px';
input.style.height = this.offsetHeight - (this.clientTop * 2) + "px";
input.style.border = '0px';
input.style.fontFamily ="inherit";
input.style.fontSize ="inherit";
input.style.textAlign = "inherit";
input.style.backgroundColor = 'LightGoldenRodYellow';

input.onblur = function(){

    var td = input.parentElement;
        console.log(td.id,'td')
    var orig_text = input.parentElement.getAttribute('data-text');
    var current_text = this.value;

     let reg = /\d+\.*\d*/g;

let result = current_text.match(reg)
let currentMark = Number(result)




let resultX = orig_text.match(reg)
let originalMark = Number(resultX)

console.log(currentMark,originalMark,'mark')





    if(orig_text != current_text ){
  
        console.log(current_text,'current_text')
$.ajax({
  dataType: 'json',
            data: {
                code: current_text,
                
            },
            type: 'POST',
            url: "/rec/stock/update/"+td.id,


  success: function(data) {
 

console.log(td.id,'id2')
console.log(td,'coalition')
        td.removeAttribute('data-clicked')
        td.removeAttribute('data-text')
        td.innerHTML = current_text
        
        td.style.cssText = 'padding: 5px';

    
  
    }


});
        console.log(td.id,'id2')
        td.removeAttribute('data-clicked')
        td.removeAttribute('data-text')
        td.innerHTML = current_text

        td.style.cssText = 'padding: 5px';
        
        console.log(orig_text + 'is change to ' + current_text)
    
    } else{
        td.removeAttribute('data-clicked')
        td.removeAttribute('data-text')
        td.innerHTML = orig_text
        td.style.cssText = 'padding: 5px';
        console.log('No changes made')
    
    }

}

this.innerHTML = ''
this.style.cssText = 'padding: 0px';
this.append(input);
this.firstElementChild.select();

}
}





	}

	})




















</script>




<div showpagelengthoption="" showtotalcount="" id="ember326" class="pagination-bar ember-view">
<div id="pagination" class="pagination d-flex align-items-center flex-wrap d-print-none mb-3 justify-content-between  "><!----></div><!----></div><!----><!----></div></div></div> <!----> <!----> <!----> <!----> <!---->
<div class="column content-column">
  <div class="header fill"> 
<button class="icon-button close-details close-detailspage" type="button" data-ember-action="" data-ember-action-327="327"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon" aria-hidden="true"><path d="M455.2 9.2L256 208.4 56.8 9.2C44.5-3.1 24.6-3.1 12.2 9.2l-2.9 2.9C-3 24.4-3 44.4 9.3 56.7L208.4 256 9.2 455.2c-12.3 12.3-12.3 32.3 0 44.6l2.9 2.9c12.3 12.3 32.3 12.3 44.6 0L256 303.6l199.2 199.2c12.3 12.3 32.3 12.3 44.6 0l2.9-2.9c12.3-12.3 12.3-32.3 0-44.6L303.6 256 502.8 56.8c12.3-12.3 12.3-32.3 0-44.6l-2.9-2.9c-12.5-12.4-32.4-12.4-44.7-.1z"></path></svg></button>
<h3 class="over-flow">Add Cooking Ingredients </h3></div>
<div class="scroll-y noscroll-x fill body scrollbox">
  <script>

            function add() {
       let mass = document.getElementById('quantity').value 
       let refNumber = document.getElementById('refNumber').value
       let ingredient =   document.getElementById('ingredient').value      
       let potNumber =   document.getElementById('potNumber').value  
       let time =   document.getElementById('time').value       
       let finishTime =   document.getElementById('finishTime').value    
       let shift =  document.getElementById('shift').value  
       let operator =  document.getElementById('operator').value  
       let date =  document.getElementById('date').value 
      let teamLeader =  document.getElementById('teamLeader').value 
       let batchNumber = document.getElementById('batchNumber').value
       console.log(mass,refNumber,ingredient,potNumber,time,finishTime,
       shift,operator,date,batchNumber,'beggin')
      
            $.ajax({
                dataType: 'json',
                data: {
                    code: mass,batchNumber:batchNumber,
                    refNumber:refNumber,ingredient:ingredient, potNumber:potNumber,
                    teamLeader:teamLeader,
                    time:time,finishTime:finishTime,shift:shift,operator:operator,date:date
                    
                },
                type: 'POST',
                url: '/rm/cookingMat/',
                success: function(data) {
                  console.log(data,'dat666')
               if(data.length === 0){
               
               
                 
                 alert('Enter Mass')
                   $("#quantity").val("")
                 
                 
                 
               
                }
                    else{

                    
                    var tr = document.createElement('tr');

    var td1 = tr.appendChild(document.createElement('td'));
    var td2 = tr.appendChild(document.createElement('td'));
var td3 = tr.appendChild(document.createElement('td'));
    var td4 = tr.appendChild(document.createElement('td'));
    var td5 = tr.appendChild(document.createElement('td'));
    var td6 = tr.appendChild(document.createElement('td'));
  
   // var link= tr.appendChild(document.createElement('td'));
    td1.id =data._id
    td5.id = data._id
/*td2.classList.add('text-end', 'pe-0')
td3.classList.add('text-end', 'pe-0')
td4.classList.add('text-end', 'pe-1')
link.classList.add('text-end','pe-0')*/
//link.setAttribute("href", "/rec/delete")
//link.className = "text-end";




    td1.innerHTML = data.ingredient;
    td2.innerHTML = data.batchNumber;
    td3.innerHTML = data.quantity;
    td4.innerHTML=  data.potNumber ;
    td5.innerHTML = data.time
    td6.innerHTML = data.finishTime
    
    //let link2 = "/rec/delete/"+data._id

    //td5.innerHTML = "Delete"
    //var linkText = 'Delete'
    // link.appendChild(linkText);
    //link.href="/rec/delete/"+data._id
    //td5.innerText = 'Delete'
    //link.innerHTML='<a href="'+link2+'">'+linkText+'</a>'

    document.getElementById("kt_ecommerce_report_sales_table").appendChild(tr)
    $("#totalMass").val(data.closingMass)
     $("#mass").val('')
  

                    }
               
                
                
                 
                }
               
            });
                /*document.querySelector('#barcodeNumber').innerHTML = scanned_barcode;*/
            }
			
        </script>

              <form class="zb-txn-form"  name="sample">
                  <div tabindex="-1" id="ember328" class="no-outline ember-view"><!----></div>
         <input type="hidden" id="id" name="id">
         <div class="row form-group">
        <div class="col-lg-2"><label class="col-form-label required">Ingredient</label> 
         <input  id="ingredient" name="ingredient" class="ember-text-field zf-date-picker date-picker ember-view form-control" type="text" value="" ></div>

         <div class="col-lg-2"><label class="col-form-label required">Batch #</label>
          <div id="ember330" class="ember-view">
           <div class="ac-box ">
             <input  id="batchNumber" name="batchNumber" class="ember-text-field ember-view form-control" type="text" value="" readonly></div> </div></div>


 <div class="col-lg-2"><label for="a5a1572c4" class="col-form-label">Quantity (kgs)</label> 
    <input  id="quantity" name="quantity" class="ember-text-field ember-view form-control" type="number"  value="" ></div>


    <div class="col-lg-2"><label class="col-form-label required">Pot Number</label>
          <div id="ember330" class="ember-view">
           <div class="ac-box ">
             <input  id="potNumber" name="potNumber" class="ember-text-field ember-view form-control" type="number" value="" ></div> </div></div>


 <div class="col-lg-2"><label class="col-form-label required">Start Time</label>
          <div id="ember330" class="ember-view">
           <div class="ac-box ">
             <input  id="time" name="time" class="ember-text-field ember-view form-control" type="time" value="" ></div> </div></div>



<div class="col-lg-2"><label class="col-form-label required">Finish Time</label>
          <div id="ember330" class="ember-view">
           <div class="ac-box ">
             <input  id="finishTime" name="finishTime" class="ember-text-field ember-view form-control" type="time" value="" ></div> </div></div>


          <div class="col-lg-2"><label class="col-form-label required">Date</label>
              <div id="ember330" class="ember-view">
          <div class="ac-box ">

      <input  id="date" name="date" class="ember-text-field ember-view form-control" type="text" value="{{date}}" readonly>
            </div> </div></div>
  
     
      <div class="col-lg-2"><label for="a5a1572c4" class="col-form-label">Ref Number</label> 
    <input  id="refNumber" name="refNumber" class="ember-text-field ember-view form-control" type="text"  value="{{refNumber}}" readonly></div>

     <div class="col-lg-2"><label for="a5a1572c4" class="col-form-label">Shift</label> 
    <input  id="shift" name="shift" class="ember-text-field ember-view form-control" type="text"  value="{{shift}}" readonly></div>
         <div class="col-lg-2"><label for="a5a1572c4" class="col-form-label">Operator</label> 
    <input  id="operator" name="operator" class="ember-text-field ember-view form-control" type="text"  value="{{operator}}" readonly></div>

     <div class="col-lg-2"><label for="a5a1572c4" class="col-form-label">Team Leader</label> 
    <input  id="teamLeader" name="teamLeader" class="ember-text-field ember-view form-control" type="text"  value="{{teamLeader}}" readonly></div>


    
    
    
   
    
    
    
    </div> 

    



    
    <!--<div class="row pt-5"><div id="ember429" class="ember-view col-lg-8" style="display: block;">
    <table class="table table-bordered">
        <tbody><tr>
          <td>
    <span class="float-end">
      <input autofocus="" autocomplete="off"  id="mass" class="ember-text-field text-end ember-view form-control" type="text" name="mass"> 
   </span> <label class="col-form-label">Mass</label> </td>
    
     <td>
       <input type="hidden" name="" id="output">
    <span class="float-end">
      <input  id="totalMass" class="ember-text-field text-end ember-view form-control" type="number" name="totalMass"> 
 </span> <label class="col-form-label">Total Mass</label></td>
    </tr> 
    
    
    
    </tbody>
    </table>
    </div>
    </div> -->

     

     <div class="row pt-5">
       <div id="ember429" class="ember-view col-lg-12" style="display: block;">

      <table class="table table-bordered" id="kt_ecommerce_report_sales_table">
<thead>
<tr>
  <th>Ingredient</th>
	<th>Batch Number</th>
	<th>Mass (kgs)</th>
	<th>Pot Number</th>
  <th>Start Time</th>
   <th>Finish Time</th>


                              </tr>
</thead>

<tbody>


</tbody>

      </table>
      </div>
      </div>
      </div> 
<div class="row"><!----></div>      

    <!--<div class="row form-group"><div class="col-lg-8"><label for="a472516ed" class="col-form-label">Description</label> <textarea rows="3" placeholder="Max 500 characters" id="a472516ed" class="ember-text-area ember-view form-control"></textarea></div>
    </div>-->


    
     <hr> <div class="btn-toolbar">
       
     

     <!--<a onclick="return confirm('Are you sure you want to Close this batch ?');" href="/closeRMBatch/{{refNumber}}" id="ember334" class="btn btn-primary ember-view" id="ember334" >Close Batch</a>
     <!--<button id="ember335" class="btn btn-secondary ember-view" type="button"> Convert to Adjusted</button>-->
   
      <!--<a class="btn btn-secondary" data-ember-action="" data-ember-action-336="336" href="/eodRepo">Run Report</button>-->
      </div>
      </form>
        <div class="btn-toolbar">
          <button onclick="add()" class="btn btn-primary ember-view" > Receive </button>
        <button class="btn btn-primary ember-view" id="connect">Connect Scale</button>

      <a  class="btn btn-primary ember-view" href="/rm/closeCookingBatch/{{id}}"> Close Batch </a>

      <!--<button class="btn btn-primary ember-view" id="disconnect">disConnect Scale</button>-->
       </div>
      </div>
      
    
      </div> <!----> <!---->
      
       <div class="column content-column d-none"></div>

      
       </main>
        <div id="pagetips-container" class="position-relative"></div>  <div class="widgets column"><div class="body mt-2  "><!----><!----></div></div> <div class="widgets-app d-none"><div class="widget-header"><h5> <button class="icon-button close-details" type="button" data-ember-action="" data-ember-action-182="182"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-xs" aria-hidden="true"><path d="M455.2 9.2L256 208.4 56.8 9.2C44.5-3.1 24.6-3.1 12.2 9.2l-2.9 2.9C-3 24.4-3 44.4 9.3 56.7L208.4 256 9.2 455.2c-12.3 12.3-12.3 32.3 0 44.6l2.9 2.9c12.3 12.3 32.3 12.3 44.6 0L256 303.6l199.2 199.2c12.3 12.3 32.3 12.3 44.6 0l2.9-2.9c12.3-12.3 12.3-32.3 0-44.6L303.6 256 502.8 56.8c12.3-12.3 12.3-32.3 0-44.6l-2.9-2.9c-12.5-12.4-32.4-12.4-44.7-.1z"></path></svg></button> <div class="font-large"></div></h5></div> <div class="body"></div></div></div></div> <!----> <div id="full-screen-outlet"></div> <!----> <div><!----></div><!----> <!----> <!----> <!----> <div id="ember183" class="notification-message text-center zf-notification-container ember-view" style="transform: translateY(-100%); opacity: 1;"><!----></div> <div id="floating-notification"></div> <!----><!----> <!----> <!----> <!----> <!----> <div id="ember184" class="ember-view"></div> <div id="ember185" class="ember-view"><!----></div> <!----> <!----><!----> <div id="modal-wrapper" class="d-print-none"></div></div><script type="text/javascript" src="https://js.zohocdn.com/ichat/js/resource/afe03055_en.js"></script><div class="wms-mainui" id="wmstoolbar" style="z-index: 999; display: none;"><div id="wms-pasteCapture" class="wms-pastediv" contenteditable="true"></div><div id="wms-menucontainer" class="wms-menucontainer"><div id="wms_menu" class="wms-menu"><div id="wms_menu_header" class="wms_menuheader"><span id="wms_menu_userstatusiconwrapper" class="wms_menu_userstatusiconwrapper wms_badge_statusicon_available"><img src="https://contacts.zoho.com/file?fs=thumb&amp;nocache=1721719133296"></span><div id="wms_menu_username" class="wms_menu_username wms-truncate-ellipsis" title="inhari">inhari</div><span data-minimize="true" class="wms_minimizeicon wms_menu_minimize"></span><div id="wms_menu_userstatus" data-statuseditor="false" class="wms_menu_userstatus wms-truncate-ellipsis" title="Available">Available</div><span id="wms_settings_dropdownicon" class="wms_settings" data-settings="true"></span></div><div id="wms_menu_settingsdropdown" data-settingsdropdown="true" class="wms_menu_settingsdropdown"></div><div id="wms_cstatus" data-showstatus="false" class="wmspd1" style="display:none; overflow-x: hidden;"></div><div id="wms_menu_searchcontainer" class="wms_menu_searchcontainer"><span class="wms_menu_searchicon wms_searchicon"></span><input id="wms_menu_search" type="text" class="wms_menu_searchinput" autocomplete="off" placeholder="Search Contacts, Chats &amp; Channels"></div><div id="wms_settingscontainer" style="display:none" data-showsettings="false"><div id="wms_settings_header" class="wms_settings_header"><span id="wms_settingsnavigator" data-navigator="settings" class="wms_settingsnavigator wms_menu_floatl"></span><span class="wms_settings_menu">Settings</span></div><div id="wms_settings_general" class="wms_settings_general"><span class="wms_settings_header">General</span><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_pausechat">Pause chat here</label><label class="wms_toggle_switch"><input id="wms_settings_pausechat" type="checkbox"><span data-type="custom" class="wms_settings_togglebutton"></span></label></div></div><div id="wms_settings_soundnotification" class="wms_settings_general" data-global-sound="enabled"><div class="wms_settings_header"><span>Sound Notification</span><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_global" data-setting="globalsoundnotify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_list" data-expanded="true"><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_mymsg">One - One Chats</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_mymsg" data-setting="mymsgsoundnotify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_mention">Mention</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_mention" data-setting="mentionsoundnotify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_groupmsg">Group Chats</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_groupmsg" data-setting="groupmessage_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_channelmsg">Channels</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_channelmsg" data-setting="channelmessage_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_pinnedchats">Pinned Chats</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_pinnedchats" data-setting="pinnedchats_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_reminders">Reminder Messages</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_reminders" data-setting="reminders_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_botmsg">Bot Messages</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_botmsg" data-setting="botmessage_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_avcalls">Audio &amp; Video Calls</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_avcalls" data-setting="av_call_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx wms_sound_setting"><label class="wms_settings_label" for="wms_settings_sound_screenshare">Screen Share</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_sound_screenshare" data-setting="screen_call_sound_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div></div></div><div id="wms_settings_visualnotification" class="wms_settings_general"><span class="wms_settings_header">Desktop Notification</span><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_mymsg">One - One Chats</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_mymsg" data-setting="vmymessage" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_mentionmsg">Mention</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_mentionmsg" data-setting="vmention" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_groupmsg">Group Chats</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_groupmsg" data-setting="groupmessage_visual_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_channelmsg">Channels</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_groupmsg" data-setting="channelmessage_visual_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_pinnedchats">Pinned Chats</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_pinnedchats" data-setting="pinnedchats_visual_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_reminders">Reminder Messages</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_reminders" data-setting="reminders_visual_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_botmsg">Bot Messages</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_visual_botmsg" data-setting="botmessage_visual_notify" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_visual_statuschange">Change of user status</label><label class="wms_toggle_switch"><input id="wms_settings_visual_statuschange" data-setting="vustatus" type="checkbox"><span data-type="custom" class="wms_settings_togglebutton"></span></label></div></div><div id="wms_settings_readreceipt" class="wms_settings_general"><span class="wms_settings_header">Read Receipt</span><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_read_receipt">Enable read receipt for conversations</label><label class="wms_toggle_switch"><input checked="" id="wms_settings_read_receipt" data-setting="read_receipt" type="checkbox"><span data-type="custom" class="wms_settings_togglebuttonsel"></span></label></div></div><div id="wms_settings_lastseen" class="wms_settings_general"><span class="wms_settings_header">Last seen </span><div class="wms_settings_chckbx"><label class="wms_settings_label" for="wms_settings_show_lastseen">If disabled, you'll not be able to see the last seen of any of your contacts.</label><label class="wms_toggle_switch"><input id="wms_settings_show_lastseen" data-setting="show_lastseen" type="checkbox"><span data-type="custom" class="wms_settings_togglebutton"></span></label></div></div><div id="wms_settings_translation" class="wms_settings_general" data-translation-feature="enabled" style="display: none"><div class="wms_settings_header"><span>Language Translation</span><label class="wms_toggle_switch"><input id="wms_settings_showtranslation" data-setting="messagetranslation" type="checkbox"><span data-type="custom" class="wms_settings_togglebutton"></span></label></div><div class="wms_translation_settings" data-expanded="false"><div class="wms_select_translation" style=""><select class="wms_translation_select" id="translationpermission" data-select="translationpermission"><option id="wms_settings_manualtranslation" value="1" data-value="1" name="translation" data-setting="manual_translation">Manual Translation</option><option id="wms_settings_autotranslation" name="translation" data-setting="auto_translation" value="2" data-value="2">Automated Translation</option></select><span class="wms_settings_openicon"></span></div></div></div><div id="zoho_links_privacy" class="wms_settings_general"><span class="wms_settings_header">Configure privacy for zoho links</span><div id="wms_zoholinks_settings" class="wms_zoholinks_settings"><div id="zoholinks_loading_div" class="wms_loading_div"></div></div></div></div><div id="wms_menu_listcontainer" class="wms_menu_listcontainer"><div data-menuname="chat" id="wms_menu_chatlist"><div id="wms_menu_chatlist_def" class="wms_menu_chatlist_def"><div id="wms_menu_recentchats" class="wms_menu_recentchats" data-menu="recentchats" undefined=""><div id="wms_menu_heading_recentchats" class="wms_menu_subheading" data-heading="recentchats" data-uctype="unmuted"><span>Recent Chats</span><div class="wms_menu_filter_icon" title="View unread chats"></div></div><div id="wms_menu_chatlist_recentchats" class="wms_menu_chatlist_recentchats"><div class="wms_menu_item" data-id="CT_2243214955849740826_794742604-B1" data-dname="Taz" data-type="2"><span class="wms_badge_imgwrapper wms_badge_statusicon_"><div class="wms_menu_item_img wms_contacticon" data-imgid="undefined" data-originalsrc=""></div><span class="wms_badge_statusicon__cutout wms_badge_img_cutout" data-cutouticon="true"></span></span><div class="wms_menu_item_name wms-truncate-ellipsis" title="Taz">Taz</div><span class="wms_menu_item_time" title="16 Jul 03:06 PM">16 Jul</span><div class="wms_menu_item_msg wms-truncate-ellipsis"><span class="wmsgrey">Taz: </span>Hey there! How you doing? </div><span style="display:flex" class="wms_menu_item_count" data-unreadcount="true" title="1">1</span></div></div></div></div><div id="wms_menu_chatlist_searchres" class="wms_menu_chatlist_searchres"></div></div><div data-menuname="channel" id="wms_menu_grouplist"><div id="wms_menu_grouplist_def" class="wms_menu_grouplist_def"><div class="wms-welcome-img wms-welcome-channelsimg wms-halign"></div><div class="wms-welcome-msg wms-halign">Channels are meant for enhanced collaboration in your organization. All the channels you're a part of will be listed here. <a class="wms_welcome_msg_href" target="blank" href="https://cliq.zoho.com/officechat/index.do#createchannel">Create a channel</a> or join existing channel by searching its name to start the conversation.</div></div><div id="wms_menu_grouplist_searchres" class="wms_menu_grouplist_searchres"></div></div><div data-menuname="contact" id="wms_menu_contactlist"><div id="wms_menu_contactlist_def" class="wms_menu_contactlist_def"><div class="wms-welcome-img wms-welcome-contactsimg wms-halign"></div><div class="wms-welcome-msg wms-halign">All your contacts will be listed here. Enter email addresses of users in the search box to invite them here.</div></div><div id="wms_menu_contactlist_searchres" class="wms_menu_contactlist_searchres"></div></div><div data-menuname="customcontact" id="wms_menu_customcontactlist"><div id="wms_menu_customcontactlist_def" class="wms_menu_customcontactlist_def"><div class="wms-welcome-img wms-welcome-contactsimg wms-halign"></div><div class="wms-welcome-msg wms-halign">All your contacts will be listed here. Enter email addresses of users in the search box to invite them here.</div></div><div id="wms_menu_customcontactlist_searchres" class="wms_menu_customcontactlist_searchres"></div></div></div></div><div id="wms_menubar" class="wms_menubar"><span data-menuname="chat" class="wms-menubutton wms_chatsicon" data-title="Unread Chats" title="Unread Chats" data-uc="true"><span id="wms_menu_unreadchats_cnt" class="wms_menu_chat_unreadcnt" title="1" style="display: flex;">1</span></span><span data-menuname="channel" class="wms-menubutton wms_groupicon" data-title="Channels" title="Channels"></span><span data-menuname="contact" class="wms-menubutton wms_contacticon" data-title="Contacts" title="Contacts"><span id="wms_menu_invitations_cnt" class="wms_menu_chat_unreadcnt" style="display: none;"></span></span></div></div><div id="wmsnotificationholder" class="wms-nh"></div><div id="wmsglobalsearch" title="Search across Apps" class="wms-gssearch" style="display: block;"><span class="wms_searchicon"></span></div><div id="wms_notebook_icon" class="wms_notebook_icon" data-notebook-icon="true" data-shown="false" style=" display: none "><div id="wms_notebook_container" class="wms_notebook_container" style="z-index: 1000"><div class="wms_notebook_header"><span class="wms_notebook_widget_heading">Zoho Notebook</span><div class="wms_notebook_widget_button" data-action="close"></div></div><div class="wms_notebook_loader wms-hvalign" id="wms_notebook_loader"></div></div></div><div id="wmsstatusbar" class="wmsstatusbar"><div id="zb-wmsstatusbar"></div></div><div class="wms-turnoffinfo" id="chatturnoffinfo" style="display: none;">You've paused chat here. <a style="cursor: pointer;" data-unpausechat="true">Click to unpause</a></div><div id="wms_incomingcall" class="wms_incomingcall"><div id="wms_caller_container" class="wms_caller_container"><img id="wms_callerimg" class="wms_caller_img"><span id="wms_calltype" class="wms_calltype wms-halign"></span><span id="wms_callername" class="wms_callername wms-halign"></span><div class="wms_videocall_buttons_list wms_incomingcall_buttons"><div id="wms_answercall_button" class="wms_videocall_button wms_answercall_button" call-action="acceptcall" title="Accept call"></div><div class="wms_videocall_button wms_replymsg_button" call-action="replycall" style="display: none;"></div><div id="wms_rejectcall_button" class="wms_videocall_button wms_rejectcall_button" call-action="rejectcall" title="Reject call"></div></div></div></div><div class="wms-chatwindowcontainer" id="wms-chatwindowcontainer"><span class="wms_bar_movablehint" id="wmsbarmovablehint" style="">Here is your Smart Chat (Ctrl+Space)</span></div></div><div class="zsiq_floatmain zsiq_theme1 siq_bR" data-id="zsalesiq" style="visibility: hidden; display: none;"><div id="zsiq_float" class="zsiq_float " style="font-family:inherit"><div class="zsiq_flt_rel"><em id="zsiq_agtpic" class="zsiq_user siqicon siqico-chat"></em><div id="titlediv" class="zsiq_cnt"><div id="zsiq_maintitle" class="zsiq_ellips" title="We're Online!">We're Online!</div><p id="zsiq_byline" class="zsiq_ellips" title="How may I help you today?">How may I help you today?</p><em class="siqico-close"></em></div><em id="zsiq_unreadcnt" class="zsiq_unrdcnt" style="display: none;"></em><em id="zsiq_avcall" class="zsiqmin_unrdcnt zsiq_unrdcnt siqico-mincall" style="display: none;"></em></div></div></div><style id="zsiqcustomcss" data-id="zsalesiq">.zsiq_flt_rel{ background-color:#00a1ff !important;} .zsiq_seasonal .st2 { fill: #00a1ff !important;}</style><div tabindex="5" id="zgs20_globalsearch" class="zgs19_direction zgs19_globalsearch zgs19_globalsearch_position zgs19_gsDisplayNone zgs19_ltr zgs19_gsOtherTheme" gs="globalsearch" style="direction: ltr;"><div id="zgs20_gsOverlay" gs="gsoverlay" class="zgs19_gsOverlay zgs19_globalsearch_position"></div><div id="zgs20_gsHolder" class="zgs19_gsHolder zgs19_gsOldUI" tabindex="5">
    <div id="zgs20_gsSearchTopBandHolder" class="zgs19_gsSearchTopBandHolder">
      <div id="zgs20_gsSearchBoxLeft" class="zgs19_gsSearchBoxLeft zgs19_gsServicesPaneWid zgs19_gsCurPointer" gs="clearAndDisplayHomePage" gsa="smallerUI_search_button">
                                            <span class="zgs19_gsSearchIcon zgs18_searchLogo"></span>
                                            <span class="zgs19_gsZSearchTxt zgs19_gsDisplayNone">Zia Search</span>
                                            <span class="zgs18_gsLHSMenu zgs19_gsDisplayNone" gs="showSVLHSServices"></span>
                                        </div><div id="zgs20_gsSearchBoxRight" class="zgs19_gsSearchBoxRight zgs19_gsBorderBox">
                                        <div class="zgs19_searchBoxFocusedChild zgs19_gsfl"><div gsfocusedouter="zgs19_searchBoxFocusedParent" id="zgs20_gsQueryBoxHolder" class="zgs19_gsQueryBoxHolder zgs19_gsfl">
                                    <div class="zgs19_gsqryinnerdiv">
                                          <div id="zgs20_gsQuerySpanBox" tabindex="0" class="zgs19_gsSearchQueryBox zgs19_gsBorderBox zgs19_gsBoxshadow"></div>
                                          <input id="zgs20_gsQueryBox" tabindex="0" autocomplete="off" spellcheck="false" class="zgs19_gsSearchQueryBox zgs19_gsBorderBox zgs19_gsBoxshadow" placeholder="Search across Apps"><div id="zgs20_gsSuggestionDiv" class="zgs19_gsQueryDiv zgs19_gsBorderBox zgs19_gsBoxshadow zgs19_gsuserselnone zgs19_gsOverflow"></div>
                                <div id="zgs20_gsQueryCloseBox" class="zgs19_gsQueryCloseBox zgs19_gsBorderBox zgs19_gsCurPointer zgs19_gsfl zgs19_gsDisplayNone" style="display: none;"><span class="zgs18_gsQueryCloseIcon zgs19_gsCurPointer"></span></div><div id="zgs20_gsFilterIconHolder" class="zgs19_gsFilterIconHolder zgs19_gsfl" gs="newfilterActions" actiontype="newFilterClick" viewtype="search"><span class="zgs18_gsNewFilterIcon" gs="newfilterActions" actiontype="newFilterClick" viewtype="search"></span></div></div><div id="zgs20_gsQuerySugg" class="zgs19_gsQuerySugg zgs19_gsBorderBox zgs19_gsOverflow zgs19_gsDisplayNone"></div></div></div></div>
                                    </div>
                                    <div id="zgs20_gsSearchResultLeft" class="zgs19_gsSearchResultLeft zgs19_gsServicesPaneWid zgs19_isPanelHidden" gs="serviceLeftPanel" rkey="refresh">
                                        <div class="zgs19_gsServicesPaneWid zgs19_gsSkeletonLoading"></div>
                                    </div>
                                    <div id="zgs20_gsOverlayDialog" class="zgs19_gsOverlayDialog zgs19_gsDisplayNone"></div>
                                   <div id="zgs20_gsSearchResultsArea" class="zgs19_gsSearchResultsArea" tabindex="5">
                                <div id="zgs20_gsProgressLoader" class="zgs19_gsProgressLoader zgs19_gsDisplayNone"><div class="zgs19_gsProgressLoadera"></div>
                                 <div class="zgs19_gsProgressLoaderb"></div>
                                 <div class="zgs19_gsProgressLoaderc"></div>
                                 <div class="zgs19_gsProgressLoaderd"></div></div>
                                <div id="zgs20_gsResultsHolder" class="zgs19_gsSearchResultAreaChild zgs19_gsw100h100 zgs19_gsDisplayNone zgs19_gsfl" style="border: none; display: block;" domselector="previewbody"><div id="zgs20_gsHideScrollPage" class="zgs19_gsHideScroll zgs19_gsServicesPaneLeft zgs19_gsDisplayNone" style="display: block;"><div id="zgs20_gsWelcomePage" class="zgs19_gsWelcomePage"><div id="zgs20_gsWelcomeHeaderScroll" class="zgs19_gsWelcomeHeaderScroll"><div class="zgs19_gsWelcomeHeader"><div class="zgs19_gsOverflow zgs19_gsBorderBox zgs19_gsSmallerWelcomeTitleNew" id="zgs20_gsWelcomePageTitle"><span>Zia Search</span></div><div class="zgs19_gsWelcomeTips zgs19_gsOverflow zgs19_gsBorderBox"><span gstitle="Search, Refine, Review and Act - All in one place">Search, Refine, Review and Act - All in one place</span></div></div><div class="zgs19_gsWelcomeFooter"><div class="zgs19_gsWelcomeulNew"><div class="zgs19_gsDispInlblk"><div class="zgs19_gsWelcomeli zgs19_gsfl"><div class="zgs19_gsWelcomelich"><div class="zgs19_gsWelcomelich1 zgs19_gsfl"><div class="zgs19_gsWelcomeIconHol zgs19_gsfl"><div class="zgs18_gsWelcomeHash"></div></div><div class="zgs19_gsWelcomechnameNew zgs19_gsOverflow zgs19_gsfl"><span gstitle="Search by Application">Search by Application</span></div></div><div class="zgs19_gsWelcomelich2New zgs19_gsfl zgs19_gsOverflowWrap"><span gstitle="Limit search to a specific app. eg.#mailor#cliq">Limit search to a specific app. eg.<span class="zgs19_gsWelcomementionNew">#mail</span>or<span class="zgs19_gsWelcomementionNew">#cliq</span></span></div></div></div><div class="zgs19_gsWelcomeli zgs19_gsfl"><div class="zgs19_gsWelcomelich"><div class="zgs19_gsWelcomelich1 zgs19_gsfl"><div class="zgs19_gsWelcomeIconHol zgs19_gsfl"><div class="zgs18_gsWelcomeAT"></div></div><div class="zgs19_gsWelcomechnameNew zgs19_gsOverflow zgs19_gsfl"><span gstitle="Search by Contact">Search by Contact</span></div></div><div class="zgs19_gsWelcomelich2New zgs19_gsfl zgs19_gsOverflowWrap"><div gstitle="Interested only in results related to a particular contact? Try@john">Interested only in results related to a particular contact? Try<div class="zgs19_gsFitContent zgs19_gsWelcomementionNew">@john</div></div></div></div></div></div><div class="zgs19_gsDispInlblk"><div class="zgs19_gsWelcomeli zgs19_gsfl"><div class="zgs19_gsWelcomelich"><div class="zgs19_gsWelcomelich1 zgs19_gsfl"><div class="zgs19_gsWelcomeIconHol zgs19_gsfl"><div class="zgs18_gsWelcomeFilter"></div></div><div class="zgs19_gsWelcomechnameNew zgs19_gsOverflow zgs19_gsfl"><span gstitle="Fine-Grained Filters">Fine-Grained Filters</span></div></div><div class="zgs19_gsWelcomelich2New zgs19_gsfl zgs19_gsOverflowWrap"><span gstitle="Too many results? Use filters to narrow down the results">Too many results? Use filters to narrow down the results</span></div></div></div><div class="zgs19_gsWelcomeli zgs19_gsfl"><div class="zgs19_gsWelcomelich"><div class="zgs19_gsWelcomelich1 zgs19_gsfl"><div class="zgs19_gsWelcomeIconHol zgs19_gsfl"><div class="zgs18_gsWelcomeQuickActions"></div></div><div class="zgs19_gsWelcomechnameNew zgs19_gsOverflow zgs19_gsfl"><span gstitle="Quick Actions">Quick Actions</span></div></div><div class="zgs19_gsWelcomelich2New zgs19_gsfl zgs19_gsOverflowWrap"><span gstitle="Reply to a mail, start a conversation, edit a record and more..">Reply to a mail, start a conversation, edit a record and more..</span></div></div></div></div></div></div><div class="zgs19_gsWPSupportOuter zgs19_gsWPExtensionOuter zgs19_gsWPHoverEffect" browsertype="Chrome" gs="extensionSearch"><div class="zgs19_gsConnectorWelPageHeader"><div class="zgs19_gsExtensionWelPageIconchrome"></div><div class="zgs19_gsConnectorWelPageHeaderTxt zgs19_gsOverflow" gstitle="Zia Search Chrome Extension" browsertype="Chrome" gs="extensionSearch">Zia Search Chrome Extension</div><div class="zgs19_gsConnectorWelPageNewTxt">New</div></div><div class="zgs19_gsOverflowWrap zgs19_gsWelcomelich2New zgs19_gsExtensionWelcomelich2New zgs19_gsfl zgs19_gsTextAlignCenter"><span gstitle="Search across 20+ Zoho Apps in one go">Search across 20+ Zoho Apps in one go</span></div></div></div></div></div><div id="zgs20_gsSearchResultMiddle" class="zgs19_gsResultsHolderChild zgs19_gsSearchResultMiddle zgs19_gsDisplayNone zgs19_isPanelHidden" domselector="resultpreview"><div id="zgs20_gsAllSearchResultPage" class="zgs19_gsSearchResultPage zgs19_gsOverflowAuto zgs19_gsDisplayNone" gs="AllSearchPage"></div><div id="zgs20_gsMultiSearchResultPage" class="zgs19_gsSearchResultPage zgs19_gsDisplayNone"></div><div id="zgs20_gsModuleSearchResultPage" class="zgs19_gsSearchResultPage zgs19_gsDisplayNone"></div><div id="zgs20_gsBackToTop" class="zgs19_gsBackToTop zgs19_gsDisplayNone zgs19_gsCurPointer" gstitle="Back to top" gs="backToTop"></div></div><div id="zgs20_gsSearchResultRight" class="zgs19_gsResultsHolderChild zgs19_gsSearchResultRight zgs19_gsDisplayNone" domselector="calloutpreview"></div><div id="zgs20_gsSettingsPages" class="zgs19_gsSettingsPages zgs19_gsDisplayNone"></div><div id="zgs20_gsHomeIcon" class="zgs18_gsHomeIcon zgs19_gsDisplayNone zgs19_gsCurPointer" gstitle="Home" gs="backToHome"></div></div>
                                <div id="zgs20_gsCardsPage" class="zgs19_gsCardsPage zgs19_gsDisplayNone"></div>
                                <div id="zgs20_gsDashboardhome" class="zgs19_gsDashboardhome zgs19_gsDisplayNone"></div>
                                <div id="zgs20_cloudIntegration" class="zgs19_cloudIntegration zgs19_gsSettingsPages zgs19_gsDisplayNoneImp"></div>
                                <div id="zgs20_gsbannertip" class="zgs19_gsbannertip zgs19_gsBoxShadowPopup zgs19_gsDisplayNone">
                                <div id="zgs20_gsbannertipicon" class="zgs19_gsbannertipicon zgs19_gsfl"></div>
                                <div id="zgs20_gsbannertiptext" class="zgs19_gsbannertiptext zgs19_gsfl"></div>
                                </div>
                            </div><div id="zgs20_gstootltip" class="zgs19_gstootltip zgs19_gsTipBoxShadow zgs19_gsBorderBox zgs19_gsDisplayNone"><div id="zgs20_gstoolarrow" class="zgs19_gsBorderBox"></div></div></div></div></body></html>




                        

<label for="editor">TX</label><textarea id="editor"></textarea>
<!--<button id="submit">Send</button>-->
<label for="output">Mass</label><textarea id="output"></textarea>





 <script>
      $(function(){
    $('#ingredient').autocomplete({
    source: function(req,res){

      $.ajax({
        url:"/rm/autocompleteCrush/",
        dataType:"jsonp",
        type:"GET",
        data:req,
        success: function(data){
          res(data)
        

        },
        error: function(err){
          console.log(err.status);
        }
      });
    },

    minLength:1,
    select: function(event,ui){

  $.ajax({
                dataType: 'json',
                data: {
                    code: ui.item.label,
                    
                },
                type: 'POST',
                url: "/rm/autoCrush",
                success: function(data) {
               
                

                   $('#ingredient').val(data.item);
                    $('#batchNumber').val(data.batchNumber);
               
    
          
                
            
                }
               
            });
 


  
    }



    });

      });
      </script> 

















    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 









